// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "DIN Next LT Pro", "Helvetica", "sans-serif";
$headers-font: "DIN Next LT Pro", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "DIN Next LT Pro";
  src: font-url('DINNextLTPro-Regular.woff');
  // src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
  //      font-url('FontFile.woff') format('woff'),
  //      font-url('FontFile.ttf') format('truetype')
}
$my-font: "DIN Next LT Pro";
