<div class="container">
  <h3>Groups</h3>

  <div>
    <% total = 0 %>
    <div class="d-flex justify-content-between">
      <%= link_to "Create Group", new_group_path, class: "btn btn-flat" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Members</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
           <tr>
              <td class="font-weight-bold"><%= group.name.capitalize %></td>
              <td class="text-secondary ">
                <% group.users.each do |user| %>
                  <%=user.username  %>
                <% end %>
              </td>
              <td><%= link_to "Open", group_path(group),
              class: "btn btn-success"%>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
