<div class="container-avatar">
<img class="avatar" alt="avatar" src="https://avatars.githubusercontent.com/u/131615474?v=4" />
<img class="avatar" alt="avatar" src="https://avatars.githubusercontent.com/u/131250939?v=4" />
<img class="avatar" alt="avatar" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1682334219/jiszwkf1k3ossxj6j1rr.jpg" />
<img class="avatar" alt="avatar" src="https://avatars.githubusercontent.com/u/118752990?v=4" />
</div>
