<div class="main">
  <ul class="cards">

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.squarespace-cdn.com/content/v1/56f9ad715f43a6d77cb2536a/1556646049911-90LWF8L0KTFTMRCW0JOV/tracking+business+expenses?format=2500w"></div>
        <div class="card_content">
          <h2 class="card_title">TRACK YOUR EXPENSES</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://womenwhomoney.com/wp-content/uploads/2019/05/share-expenses-5.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">SHARE WITH YOUR FRIENDS</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://www.missiontolearn.com/wp-content/uploads/2011/01/achieve_learning_goals_35350735_s.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">ACHIEVE YOUR GOALS</h2>
        </div>
      </div>
    </li>
  </ul>
</div>
