<div class="modal-form">
   <div class="wrapper">
    <form class="form-submit">
      <h2 class="form-submit-heading">Add expenses</h2>
      <input type="text" class="form-control" name="amount" placeholder="Amount" required="" autofocus="" />
    <select class="form-submit-heading" name="category" onchange="showHide(this)">
      <option>Select a category</option>
      <option value="restaurant">Restaurant</option>
      <option value="cinema">Cinema</option>
      <option value="other">Other</option>
    </select>

  <div class="dropdown-options">
    <div class="show-hide" id="restaurant">
    </div>
    <div class="show-hide" id="cinema">
    </div>
    <div class="show-hide" id="other">
    </div>
  </div>
  <select class="form-submit-heading" name="category" onchange="showHide(this)">
    <option>Frequency</option>
    <option value="always">Always</option>
    <option value="rarely">rarely</option>
    <option value="other">Other</option>
    </select>
   <div class="dropdown-options">
    <div class="show-hide" id="always">
    </div>
    <div class="show-hide" id="rarely">
    </div>
    <div class="show-hide" id="other">
    </div>
  </div>
  </div>
       <button class="btn">Submit</button>
    </form>
  </div>
</div>
