<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa-solid fa-wallet fs-1" style="color: black; margin-left: 20px; margin-right: 6px;"></i>
      <% end %>
      <p class="mt-1" style="margin-bottom: 3px!important;">
      <span class="d-flex align-center">
      <% if current_user.balance < 0 %>
        <strong>Balance: </strong><span class="text-danger ms-1" style="margin-top: 1.6px;">€<%= current_user.balance %></span></span></p>
      <% else %>
        <strong>Balance: </strong><span class="text-success ms-1" style="margin-top: 1.6px;">€<%= current_user.balance %></span></span></p>
      <% end %>
    </div>
  </div>
</div>
