<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom" style="background-color: #0A4D68;">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa-solid fa-wallet fs-1" style="color: #1CDD87; margin-left: 25px;"></i>
      <% end %>
      <p class="text-success mt-3">
      <% if current_user.balance < 0 %>
        <strong>Balance: </strong><span class="text-danger">$<%= current_user.balance %></span></p>
      <% else %>
        <strong>Balance: </strong><span class="text-success">$<%= current_user.balance %></span></p>
      <% end %>
    </div>
  </div>
</div>
