<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
          <i class="fa-regular fa-circle-user fs-1" style="color: black; margin-left: 25px;"></i>
      <h1>MoneyCounter<h1>
     <i class="fa-solid fa-barcode" style="color: black; margin-right: 25px;"></i>
      </ul>
    </div>
  </div>
</div>
