<nav class="navbar fixed-bottom navbar-light container-fluid justify-content-center" style="background-color: #0A4D68; border-top: solid #116A7B;">

    <div class="container-icons">
    <div class="border-bar"></div>
  <ul class="navbar-nav">
      <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
        <a class="nav-link">
        <div class="icon-wrapper">
            <%= link_to goals_path do %>
              <% content_tag(:i, "", class: "fa-solid fa-trophy text-success") %>
            <% end %>
            <div class="name-icons">
              <p class="text-success">Goals</p>
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
        <a class="nav-link">
            <div class="icon-wrapper">
              <%= link_to transactions_path do %>
                <% content_tag(:i, "", class: "fa-solid fa-handshake text-success") %>
              <% end %>
              <div class="name-icons">
                <p class="text-success">Trnsactions</p>
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
        <a class="nav-link">
          <div class="icon-wrapper">
            <%= link_to groups_path do %>
              <% content_tag(:i, "", class: "fa-solid fa-people-group text-success") %>
            <% end %>
            <div class="name-icons">
              <p class="text-success">Groups</p>
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1 mr-5 mb-4">
        <a class="nav-link" href="/users/">
          <div class="icon-wrapper">
            <%= link_to user_path(current_user) do %>
              <% content_tag(:i, "", class: "fa-solid fa-gear text-success") %>
            <% end %>
            <div class="name-icons">
              <p class="text-success">Settings</p>
            </div>
          </div>
        </a>
      </li>

  </ul>
  </div>
</nav>
