<nav class="navbar fixed-bottom navbar-light bg-light container-fluid justify-content-center">
 <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 justify-content-center">
        <a class="nav-link" href="#">
          <span><i class="fas fa-sack-dollar fa-lg"></i></span>
          <p>Goals</p>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="#">
          <span><i class="fas fa-money-bill-trend-up fa-lg"></i></span>
          <p>Expenses</p>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="#">
          <span><i class="fa-solid fa-hand-holding-dollar fa-lg"></i></span>
          <p>Income</p>
        </a>
      </li>
  </ul>
</nav>
