<nav class="navbar fixed-bottom navbar-light bg-light container-fluid justify-content-center">
    <div class="container-icons">
  <ul class="navbar-nav">

        <a class="nav-link" href="#">
          <span><i class="fas fa-sack-dollar"></i></span>
          <p>Goals</p>
        </a>
      </li>


        <a class="nav-link" href="#">
          <span><i class="fas fa-money-bill-trend-up"></i></span>
          <p>Expenses</p>
        </a>
      </li>


        <a class="nav-link" href="#">
          <span><i class="fas fa-hand-holding-dollar"></i></span>
          <p>Income</p>
        </a>
      </li>
  </ul>
  </div>
</nav>
