<div class="modal">
  <p class="message">Do you want to add an income of expense ?</p>
  <div class="options">
    <button class="btn">Income</button>
    <button class="btn">Expense</button>
  </div>
</div>
