<div class="body-pop">
  <div class="modal">
    <p class="message">Income or expense?</p>
    <div class="options">
      <%= link_to "Income", new_income_path, class: "btn btn-success" %>
      <%= link_to "Expense", new_expense_path, class: "btn btn-success"%>
    </div>
  </div>
</div>
