<div class="body-pop">
  <div class="modal">
    <p class="message">Income or expense?</p>
    <div class="options">
      <%= link_to "Income", new_income_path(incomes_url), class: "btn btn"%>
      <%= link_to "Expense", new_expense_path(expenses_url), class: "btn btn"%>
    </div>
  </div>
</div>
