<div class="body-pop">
  <div class="modal">
    <p class="message">Do you want to confirm ?</p>
    <div class="options">
      <button class="btn">Yes</button>
      <button class="btn">No</button>
    </div>
  </div>
</div>
