<div class="body-pop">
  <div class="modal">
    <p class="message">Welcome to MoneyCounter</p>
    <div class="options">
      <a href="/users/sign_in" class="btn btn";>Login</a>
      <a href="/users/sign_up" class="btn btn";>Signup</a>
    </div>
  </div>
</div>
