<div class="body-pop">
  <div class="modal">
    <p class="message">Join us</p>
    <div class="options">
      <a href="/users/sign_in" class="btn btn" style="background-color: black";>Login</a>
    </div>
  </div>
</div>
