.container-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 25px;
}
 .container-avatar img {
  border: 1px solid #000000bd;
  transition: all 400ms ease;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin-right: -6px;
 }

 .container-avatar img:hover {
  width: 52px;
 }
