.btn {
  color:rgb(255, 255, 255);
    font-family:inherit;
  font-size: inherit;
  background: rgb(0, 0, 0);
  padding: 0.3rem 3.4rem;
  border: 1px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  border-radius: 7px;
}
