.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
  justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
}



.navbar-avatar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}
