.navbar-bottom {
  justify-content: center;
  background: #ffffff;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFF;
}
