.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 0;
  list-style: none;
  gap: 45px;
  align-items: center;
}

.nav-link {
  display: block;
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
