.edit-show {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .image {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
