<div class="container">
  <h3>Expenses</h3>

  <div class="container">
    <div class="donut-chart-block block">
      <div class="donut-chart">
        <div id="part1" class="portion-block">
          <div class="circle">
          </div>
        </div>
        <div id="part2" class="portion-block">
          <div class="circle">
          <p>Grocery</p>
          </div>
        </div>
        <div id="part3" class="portion-block">
          <div class="circle">
            <p>Make up</p>
          </div>
        </div>
        <p class="center"></p>
      </div>
    </div>
  </div>

  <div>
    <% total = 0 %>
    <% @expenses.each do |expense| %>
      <% total += expense.amount %>
    <% end %>
    <h5 class="font-weight-bold">Total Expense $<%= total %></h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Amount($)</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
           <tr>
              <td class="font-weight-bold"><%= expense.name.capitalize %></td>
              <td class="text-secondary "><%= expense.category.capitalize %></td>
              <td class="text-secondary"><%= expense.amount %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
